<div class="transactions">
  <div class="transactions__filter">
    <crt-transactions-volume
      (volumeChange)="onVolumeChange($event)"
    ></crt-transactions-volume>
  </div>
  <div class="transactions__inner">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <crt-transactions-table
            [transactions]="transactions"
            [isLoading]="isLoading$ | async"
            (selectRow)="onSelectRow($event)"
          ></crt-transactions-table>
        </div>
      </div>
    </div>
  </div>
</div>
